.gist-detail-header.clearfix
  %h2
    gist title
  .date
    %p
      %i.fa.fa-calendar-o
      %span.tooltip{"data-original-title" => "23 December 2014", "data-placement" => "top", "data-toggle" => "tooltip"}
        Created 2 days ago
  .gist-info
    .single-info
      %i.fa.fa-star
      12
    .single-info
      %i.fa.fa-code-fork
      1
  %p.description
    Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
  .gist-tags
    %span.tag.label.label-default
      lorem
    %span.tag.label.label-primary
      ipsum
    %span.tag.label.label-default
      dolor
  .gist-actions
    %a.btn.btn-default.btn-xs{:href => "#"}
      %i.fa.fa-github
      View in GitHub
    %a.btn.btn-primary.btn-xs{:href => "#"}
      %i.fa.fa-cloud-download
      Download

.gist-detail.clearfix
  %code{"data-gist-id" => "4e46a9dc2c3a4245a28e"}
  .social-container
    .links
      %a.prettySocial.fa.fa-twitter.fa-2x{"data-description" => "gist title", "data-type" => "twitter", :href => "#"}
      %a.prettySocial.fa.fa-facebook.fa-2x{"data-description" => "gist title", "data-title" => "gist title", "data-type" => "facebook", "data-url" => "http://gist.github.com/sdfsdfdsfsfsd", :href => "#"}
      %a.prettySocial.fa.fa-google-plus.fa-2x{"data-description" => "gist title", "data-type" => "googleplus", "data-url" => "http://gist.github.com/sdfsdfdsfsfsd", :href => "#"}
      %a.prettySocial.fa.fa-linkedin.fa-2x{"data-description" => "gist title", "data-title" => "gist title", "data-type" => "linkedin", "data-url" => "http://gist.github.com/sdfsdfdsfsfsd", :href => "#"}