= render "layouts/searchbar"

%section.tags
  %h3 Filter by tags:
  %span.tag.label.label-default
    lorem
  %span.tag.label.label-primary
    ipsum
  %span.tag.label.label-default
    dolor

%section.results
  %h3 Results:
  %div.result
    %h4 GistGenius.rb
    .small
      created today
    .tags
      %span.tag.label.label-default
        ruby
      %span.tag.label.label-default
        railsrumble
      %span.tag.label.label-default
        weekend
    .description
      Fusce quis interdum ligula. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nullam eleifend, lacus vitae rutrum tincidunt, mi justo ultricies lorem, at cursus ex odio quis metus. Sed lacinia aliquet ornare. Ut condimentum libero id sem tempor pretium. Proin vel nibh lectus. Vivamus tempor ligula urna, nec porttitor ipsum molestie at.

  %div.result
    %h4 GistGenius.rb
    .small
      created today
    .tags
      %span.tag.label.label-default
        ruby
      %span.tag.label.label-default
        railsrumble
      %span.tag.label.label-default
        weekend
    .description
      Fusce quis interdum ligula. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nullam eleifend, lacus vitae rutrum tincidunt, mi justo ultricies lorem, at cursus ex odio quis metus. Sed lacinia aliquet ornare. Ut condimentum libero id sem tempor pretium. Proin vel nibh lectus. Vivamus tempor ligula urna, nec porttitor ipsum molestie at.
