.row.clearfix
  .col-md-6.column
    .homepage= image_tag( 'homepage.png' )
  .col-md-6.column
    %h3
      %b
        Gist
      Genius
    %p
      Lorem ipsum dolor sit amet,
      = succeed "." do
        %strong consectetur adipiscing elit
      %em Morbi commodo sodales nisi id sodales. Proin consectetur, nisi id commodo imperdiet, metus.
      %small Aliquam mi erat, aliquam vel luctus eu.
    - if not user_signed_in?
      .row.clearfix
        .col-md-6.column
          %button.btn.btn-default.btn-lg.btn-info{:type => "button"}
            %i.fa.fa-rocket
            = link_to "Demo Login", sample_signin_path
        .col-md-6.column
          = link_to '<i class="fa fa-github-alt"></i> Signup'.html_safe, signin_path, :class =>"btn btn-default btn-lg btn-success"
.row.clearfix
  .col-md-4.column
    %h2
      Easy
    %p
      Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
  .col-md-4.column
    %h2
      Fast
    %p
      Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
  .col-md-4.column
    %h2
      Free
    %p
      Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
