.navbar-default .navbar-nav > li > a:hover,
.users-show .mylist
  background-color: $light-gray

.navbar-header

  img
    float: left
    margin-right: 5px
    margin-top: 6px

li.sync
  &.disabled a
    color: black !important
  a
    background-color: #2196f3
    color: white !important
    &:hover
      color: black !important

@media all and (max-width: 770px)
  .navbar-collapse li
    display: block
    width: 100%
    text-align: center
    a
      display: block
      width: 100%
    &.disabled
      display: none
