%h3 User
%p= "Name: #{@user.name if @user.name}"
%table
  %thead
    %tr
      %th Gist
      %th Files
  %tbody
    - @user.gists.each do |gist|
      %tr
        %td= gist.description || gist.gist_files.first.name
        %td
          - gist.gist_files.each do |file|
            = file.name
            %br
