.gist-title
  margin-bottom: 1em
  .back
    float: right
    margin-top: 4em

  h3
    display: inline-block
    vertical-align: middle
    width: 50%
    min-width: 300px

  img.avatar
    max-width: 4em
    max-height: 4em
    margin-top: 1em
    margin-right: 1em
    border-radius: 20%
    @media screen and (max-width: 750px)
      display: none

.date
  display: inline-block
  float: left
.gist-info
  display: block
  width: 100%
  .single-info
    float: right
    display: inline-block
    margin: 0px 5px 0px 5px
p.description
  display: inline-block
  width: 100%
.gist-tags
  margin-bottom: 10px
  float: left
  width: 70%
  @media screen and (max-width: 750px)
    width: 100%

  @media screen and (min-width: 751px)
    width: 70%
.gist-actions
  margin-bottom: 10px
  float: right

.gist
  width: 100%
  overflow: hidden

.gist-detail

  .social-container
    text-align: right

    a
      color: $medium-gray
      margin: 0.5em

      &:hover, &:active
        color: $blue
