body
  padding-top: 60px

  h3
    font-size: 14px

  .container-fluid
    max-width: 768px

section.search

  input
    margin: auto
    font-size: 28px

section.tags, section.results .tags

  .tag
    margin-right: 5px
    font-weight: normal
    font-size: 12px

section.results
  .result
    height: auto
    padding: 1px 10px 10px
    background-color: #f6f6f6
    overflow: hidden
    margin-bottom: 10px

    &:hover
      background-color: darken(#f6f6f6, 20%)
      color: #F6F6F6

      .small
        color: #F6F6F6

      .description
        height: 68px

    h4
      margin-bottom: 5px

    .small
      color: gray
      font-size: 11px

    .description
      line-height: 17px
      height: 34px
      overflow: hidden

    .selectize-control
      border: 0px

      &.selected
        background-color: white
        padding: 5px
        border-bottom: 2px solid #2196f3

      .selectize-input
        background-color: transparent
        border: 0px
        padding: 0px
        @include box-shadow(black 0px 0px 0px)

        div
          background: transparent
          border: 0px

        [data-value]
          background-image: -webkit-linear-gradient(top, #2196f3, #2196f3)
          background-color: #2196f3
