.gist-actions
  %a.btn.btn-default.btn-xs{:href => "https://gist.github.com/#{gist.github_id}"}
    %i.fa.fa-github
    View in GitHub
  %a.btn.btn-primary.btn-xs{:href => "https://gist.github.com/#{gist.github_id}/download"}
    %i.fa.fa-cloud-download
    Download
