%hr
%footer.container-fluid
  %p
    GistGenius is a Rails Rumble app built in 48h, passionately made by
    = link_to "weLaika Team", "http://dev.welaika.com/"
    for the
    = link_to "#railsrumble — 2014 edition",  "http://railsrumble.com/entries/65-welaika"
