<%# add navigation links to this file %>
<% if user_signed_in? %>
	<li class="sync"><%= link_to 'Sync your Gists now!', sync_path , remote: true, method: :post, class: 'sync_button' %></li>
  <li><%= link_to "#{current_user.name} (Sign out)", signout_path %></li>
<% else %>
  <li><%= link_to 'Sign in', signin_path %></li>
<% end %>
