<%# add navigation links to this file %>
<li><%= link_to 'Sync your Gists now!', '#' %></li>
<% if user_signed_in? %>
  <li><%= link_to "#{current_user.name} (Sign out)", signout_path %></li>
<% else %>
  <li><%= link_to 'Sign in', signin_path %></li>
<% end %>
